# Python
__pycache__/
*.py[cod]
*$py.class
*.spec

# Build & Dist
build/
dist/
*.exe
!VIPQC AI.exe

# Credentials & Sensitive Configs
cloud_config.json

# Scratch & Temporary data
scratch/
*.xlsx
excel_results/
test_outputs/

# Virtual Environment
venv/
.env/
env/
